<?xml version="1.0"?>
<!--
Copyright © Danny Nimmo. All rights reserved. See LICENSE file for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DannyNimmo_VisualMerchandiserRebuild">
        <sequence>
            <module name="Magento_VisualMerchandiser"/>
        </sequence>
    </module>
</config>
