<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="visualmerchandiser">
            <group id="options">
                <field id="cronjob_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rebuild categories automatically</label>
                    <comment>Enables rebuilding Visual Merchandiser categories via cron job</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cronjob_expression" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron job expression</label>
                    <backend_model>DannyNimmo\VisualMerchandiserRebuild\App\Config\Cronjob</backend_model>
                    <comment>Enter a valid cron expression to setup up automatic regeneration of Visual Merchandiser categories (Ex: 0 1 * * *)</comment>
                    <depends>
                        <field id="cronjob_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
